.semicircle {
  width: 200px;
  height: 300px;
  background-color: black;
  position: relative;
  clip-path: polygon(
    0% 0%,
    33.3% 0%,
    100% 50%,
    33.3% 100%,
    0% 100%,
    0% 75%,
    33.3% 50%,
    0% 25% 
  );

  display: grid;
  align-content: flex-end;
}
.circle {
  position: absolute;
  background-color: blue;
  clip-path: circle(50% at center);
}
.end {
  background-color: green;
}
.circle, .end {
  width: 50px;
  height: 50px;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
}
