<link rel="stylesheet" type="text/css" href="index.css">
<script src="index.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", main)
</script>
<div tabindex="-1" class="semicircle">
  <div tabindex="-1" class="circle"></div>
  <div tabindex="-1" class="end"></div>
</div>
