<input type=radio name=solved-group--0 id=solved-group--0>
<input type=radio name=solved-group--1 id=solved-group--1>

<input type=radio name=active-item value=null id=active-item checked>
<input type=radio name=active-item id=active-item--0--0 class=group-0>
<input type=radio name=active-item id=active-item--1--0 class=group-1>
<input type=radio name=active-item id=active-item--0--1 class=group-0>
<input type=radio name=active-item id=active-item--1--1 class=group-1>

<main>
<div id="item--0--0" class="el group-0 " tabindex="0">
  <label for=active-item></label>
  <label for=active-item--0--0></label>
  <label for=solved-group--0></label>
  <audio>
    <source src="ноль.m4a" type="audio/mpeg">
  </audio>    
</div>
<div id="item--1--0" class="el group-1 " tabindex="0">
  <label for=active-item></label>
  <label for=active-item--1--0></label>
  <label for=solved-group--1></label>
  <audio>
    <source src="один.m4a" type="audio/mpeg">
  </audio>    
</div>
<div id="item--0--1" class="el group-0 " tabindex="0">
  <label for=active-item></label>
  <label for=active-item--0--1></label>
  <label for=solved-group--0></label>
</div>
<div id="item--1--1" class="el group-1 " tabindex="0">
  <label for=active-item></label>
  <label for=active-item--1--1></label>
  <label for=solved-group--1></label>
</div>
</main>
<style>
main {
  display: grid;
  grid-auto-columns: 150px;
  grid-auto-rows: 200px;
  grid-auto-flow: column;
}
.el {
  background-image: url(b1.svg);
}
.el {
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  --rotate: 0deg;
  transform: perspective(1000px) rotateY(var(--rotate));
  transition: transform 0.5s ease-in-out 0.5s;
}
.el:focus-within {
  --rotate: 180deg;
  transition-duration: 0s;
}

label::before {
  content: attr(for);
}

#active-item:checked ~ * * label:not([for^="active-item--"]),

#solved-group--0:checked ~ * .group-0 label,
#solved-group--1:checked ~ * .group-1 label,

#active-item--0--0:checked ~ * .el#item--0--0 label,
#active-item--0--1:checked ~ * .el#item--0--1 label,
#active-item--1--0:checked ~ * .el#item--1--0 label,
#active-item--1--1:checked ~ * .el#item--1--1 label,

.group-0:checked ~ * .el:not(.group-0) label:not([for="active-item"]),
.group-0:checked ~ * .el.group-0 label:not([for^="solved-group"]),
.group-1:checked ~ * .el:not(.group-1) label:not([for="active-item"]),
.group-1:checked ~ * .el.group-1 label:not([for^="solved-group"]) {
  display: none;
}


</style>
<script>
[...document.querySelectorAll('.front, .back')]
.forEach(el => {
  const audio = el.querySelector('audio')
  if (!audio)
    return
  el.onfocus = () => audio.play()
  el.onblur = () => audio.load()
})
</script>