:root {
  --width: 100px;
  --height: 150px;
  --count: auto-fill;
  --radius: 40px;
  --gap: 25px;
  --border-size: 5px;
  --border-size-hover: 10px;
  --border-color: black;
  --border-color-hover: orange;
  --duration: 500ms;
  --show-time: 500ms;
  --animate-fn: ease-in-out;
  --perspective: 1000px;
  --back-img: url(b1.svg);
  --back-color: transparent;
  --font-size: 10em;
}