<body><div class="resize" id="resize-vd">
  <div>Content</div>
</div>
<div class="resize" id="resize-hr">
  <div>Content</div>
</div>
<style>
body {
  min-width: 100px;
  min-height: 100px;
  display: grid;
  grid-template-areas:
    'vd vd'
    'hr .';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

#resize-vd {
  grid-area: vd
}
#resize-hr {
  grid-area: hr
}
</style>
<style>
.resize {
  border: 1px solid black;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  box-sizing: border-box;
}
#resize-vd {
  resize: vertical;
  overflow-y: scroll;
  /*Here same as overflow-y: overlay*/
  overflow-x: unset;
}
#resize-hr {  
  resize: horizontal;
  overflow-x: scroll;
  /*Here same as overflow-y: overlay*/
  overflow-y: unset;
}
#resize-vd::-webkit-scrollbar {
  width: 100vw;
  height: 1em;
}
#resize-hr::-webkit-scrollbar {
  height: 100vh;
  width: 1em;
}
</style>

<style>
#resize-hr {
  background-color: yellow;
}
#resize-vd {
  background-color: blue;
}

.resize::-webkit-resizer {
  background-color: lightgrey;
}

</style></body>