body {
  margin: 0;
  padding: 0;
}
main {
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
canvas {
  background-color: white;
  width: 100%;
  height: 100%;

  clip-path: polygon(
    0% 80%,
    0% 100%,
    100% 100%,
    100% 80%,
    66.6% 80%,
    66.6% 0%,
    33.3% 0%,
    33.3% 20%,
    0% 20%,
    0% 40%,
    33.3% 40%,
    33.3% 80%
  );
}